# 4.7 Deriving New Variables

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\aaron\OneDrive\Documents\CF Analysis 4'

In [6]:
df_opm = pd.read_pickle(os.path.join(path, '2 Data', 'Prepared Data', 'ords_prods_merge'))

If statements with loc

In [10]:
df_opm.shape

(32404859, 14)

In [12]:
df_opm.loc[df_opm['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
df_opm.loc[(df_opm['prices'] <= 15) & (df_opm['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df_opm.loc[df_opm['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df_opm['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [20]:
df_opm.shape

(32404859, 15)

If statements with loops

In [24]:
df_opm['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [26]:
result = []

for value in df_opm["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [28]:
df_opm['busiest_day'] = result

In [30]:
df_opm['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [32]:
df_opm.shape

(32404859, 16)

# 4.7 Task

Part 2

In [37]:
result_2 = []

for value in df_opm["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Least busiest days")
  else:
    result_2.append("Regular days")

In [39]:
# creating new column for the 2 busiest and 2 least busiest days of the week
df_opm['Busiest_days'] = result_2

Part 3

In [45]:
df_opm['Busiest_days'].value_counts(dropna = False)

Busiest_days
Regular days          12916111
Busiest days          11864412
Least busiest days     7624336
Name: count, dtype: int64

The value counts for this new column are all correct

In [48]:
df_opm.shape

(32404859, 17)

Part 4

In [52]:
df_opm['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10                 2761760
11                 2736140
14                 2689136
15                 2662144
13                 2660954
12                 2618532
16                 2535200
9                  2454203
17                 2087654
8                  1718118
18                 1636502
19                 1258305
20                  976156
7                   891054
21                  795637
22                  634225
23                  402316
6                   290493
0                   218769
1                   115700
5                    87961
2                    69375
4                    53242
3                    51281
562949953421328          2
Name: count, dtype: int64

In [54]:
result_3 = []

for value in df_opm["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_3.append("Most orders")
  elif value in [17, 8, 18, 19, 20, 7, 21, 22]:
    result_3.append("Average orders")
  else:
    result_3.append("Fewest orders")

In [58]:
# creating new column for the busiest hours of the day
df_opm['busiest_period_of_day'] = result_3

Part 5

In [62]:
df_opm['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118069
Average orders     9997651
Fewest orders      1289139
Name: count, dtype: int64

In [64]:
df_opm.shape

(32404859, 18)

Part 7

In [70]:
# Exporting new dataset
df_opm.to_pickle(os.path.join(path, '2 Data','Prepared Data', 'ords_prods_merge+'))